.flatpickr-calendar{background:transparent;opacity:0;display:none;text-align:center;visibility:hidden;padding:0;-webkit-animation:none;animation:none;direction:ltr;border:0;font-size:14px;line-height:24px;border-radius:5px;position:absolute;width:307.875px;-webkit-box-sizing:border-box;box-sizing:border-box;-ms-touch-action:manipulation;touch-action:manipulation;background:#fff;-webkit-box-shadow:1px 0 0 #e6e6e6,-1px 0 0 #e6e6e6,0 1px 0 #e6e6e6,0 -1px 0 #e6e6e6,0 3px 13px rgba(0,0,0,0.08);box-shadow:1px 0 0 #e6e6e6,-1px 0 0 #e6e6e6,0 1px 0 #e6e6e6,0 -1px 0 #e6e6e6,0 3px 13px rgba(0,0,0,0.08);}.flatpickr-calendar.open,.flatpickr-calendar.inline{opacity:1;max-height:640px;visibility:visible}.flatpickr-calendar.open{display:inline-block;z-index:99999}.flatpickr-calendar.animate.open{-webkit-animation:fpFadeInDown 300ms cubic-bezier(.23,1,.32,1);animation:fpFadeInDown 300ms cubic-bezier(.23,1,.32,1)}.flatpickr-calendar.inline{display:block;position:relative;top:2px}.flatpickr-calendar.static{position:absolute;top:calc(100% + 2px);}.flatpickr-calendar.static.open{z-index:999;display:block}.flatpickr-calendar.multiMonth .flatpickr-days .dayContainer:nth-child(n+1) .flatpickr-day.inRange:nth-child(7n+7){-webkit-box-shadow:none !important;box-shadow:none !important}.flatpickr-calendar.multiMonth .flatpickr-days .dayContainer:nth-child(n+2) .flatpickr-day.inRange:nth-child(7n+1){-webkit-box-shadow:-2px 0 0 #e6e6e6,5px 0 0 #e6e6e6;box-shadow:-2px 0 0 #e6e6e6,5px 0 0 #e6e6e6}.flatpickr-calendar .hasWeeks .dayContainer,.flatpickr-calendar .hasTime .dayContainer{border-bottom:0;border-bottom-right-radius:0;border-bottom-left-radius:0}.flatpickr-calendar .hasWeeks .dayContainer{border-left:0}.flatpickr-calendar.showTimeInput.hasTime .flatpickr-time{height:40px;border-top:1px solid #e6e6e6}.flatpickr-calendar.noCalendar.hasTime .flatpickr-time{height:auto}.flatpickr-calendar:before,.flatpickr-calendar:after{position:absolute;display:block;pointer-events:none;border:solid transparent;content:'';height:0;width:0;left:22px}.flatpickr-calendar.rightMost:before,.flatpickr-calendar.rightMost:after{left:auto;right:22px}.flatpickr-calendar:before{border-width:5px;margin:0 -5px}.flatpickr-calendar:after{border-width:4px;margin:0 -4px}.flatpickr-calendar.arrowTop:before,.flatpickr-calendar.arrowTop:after{bottom:100%}.flatpickr-calendar.arrowTop:before{border-bottom-color:#e6e6e6}.flatpickr-calendar.arrowTop:after{border-bottom-color:#fff}.flatpickr-calendar.arrowBottom:before,.flatpickr-calendar.arrowBottom:after{top:100%}.flatpickr-calendar.arrowBottom:before{border-top-color:#e6e6e6}.flatpickr-calendar.arrowBottom:after{border-top-color:#fff}.flatpickr-calendar:focus{outline:0}.flatpickr-wrapper{position:relative;display:inline-block}.flatpickr-months{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}.flatpickr-months .flatpickr-month{background:transparent;color:rgba(0,0,0,0.9);fill:rgba(0,0,0,0.9);height:34px;line-height:1;text-align:center;position:relative;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;overflow:hidden;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1}.flatpickr-months .flatpickr-prev-month,.flatpickr-months .flatpickr-next-month{text-decoration:none;cursor:pointer;position:absolute;top:0;height:34px;padding:10px;z-index:3;color:rgba(0,0,0,0.9);fill:rgba(0,0,0,0.9);}.flatpickr-months .flatpickr-prev-month.flatpickr-disabled,.flatpickr-months .flatpickr-next-month.flatpickr-disabled{display:none}.flatpickr-months .flatpickr-prev-month i,.flatpickr-months .flatpickr-next-month i{position:relative}.flatpickr-months .flatpickr-prev-month.flatpickr-prev-month,.flatpickr-months .flatpickr-next-month.flatpickr-prev-month{/*
      /*rtl:begin:ignore*/left:0;/*
      /*rtl:end:ignore*/}/*
      /*rtl:begin:ignore*/
/*
      /*rtl:end:ignore*/
.flatpickr-months .flatpickr-prev-month.flatpickr-next-month,.flatpickr-months .flatpickr-next-month.flatpickr-next-month{/*
      /*rtl:begin:ignore*/right:0;/*
      /*rtl:end:ignore*/}/*
      /*rtl:begin:ignore*/
/*
      /*rtl:end:ignore*/
.flatpickr-months .flatpickr-prev-month:hover,.flatpickr-months .flatpickr-next-month:hover{color:#959ea9;}.flatpickr-months .flatpickr-prev-month:hover svg,.flatpickr-months .flatpickr-next-month:hover svg{fill:#f64747}.flatpickr-months .flatpickr-prev-month svg,.flatpickr-months .flatpickr-next-month svg{width:14px;height:14px;}.flatpickr-months .flatpickr-prev-month svg path,.flatpickr-months .flatpickr-next-month svg path{-webkit-transition:fill .1s;transition:fill .1s;fill:inherit}.numInputWrapper{position:relative;height:auto;}.numInputWrapper input,.numInputWrapper span{display:inline-block}.numInputWrapper input{width:100%;}.numInputWrapper input::-ms-clear{display:none}.numInputWrapper input::-webkit-outer-spin-button,.numInputWrapper input::-webkit-inner-spin-button{margin:0;-webkit-appearance:none}.numInputWrapper span{position:absolute;right:0;width:14px;padding:0 4px 0 2px;height:50%;line-height:50%;opacity:0;cursor:pointer;border:1px solid rgba(57,57,57,0.15);-webkit-box-sizing:border-box;box-sizing:border-box;}.numInputWrapper span:hover{background:rgba(0,0,0,0.1)}.numInputWrapper span:active{background:rgba(0,0,0,0.2)}.numInputWrapper span:after{display:block;content:"";position:absolute}.numInputWrapper span.arrowUp{top:0;border-bottom:0;}.numInputWrapper span.arrowUp:after{border-left:4px solid transparent;border-right:4px solid transparent;border-bottom:4px solid rgba(57,57,57,0.6);top:26%}.numInputWrapper span.arrowDown{top:50%;}.numInputWrapper span.arrowDown:after{border-left:4px solid transparent;border-right:4px solid transparent;border-top:4px solid rgba(57,57,57,0.6);top:40%}.numInputWrapper span svg{width:inherit;height:auto;}.numInputWrapper span svg path{fill:rgba(0,0,0,0.5)}.numInputWrapper:hover{background:rgba(0,0,0,0.05);}.numInputWrapper:hover span{opacity:1}.flatpickr-current-month{font-size:135%;line-height:inherit;font-weight:300;color:inherit;position:absolute;width:75%;left:12.5%;padding:7.48px 0 0 0;line-height:1;height:34px;display:inline-block;text-align:center;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}.flatpickr-current-month span.cur-month{font-family:inherit;font-weight:700;color:inherit;display:inline-block;margin-left:.5ch;padding:0;}.flatpickr-current-month span.cur-month:hover{background:rgba(0,0,0,0.05)}.flatpickr-current-month .numInputWrapper{width:6ch;width:7ch\0;display:inline-block;}.flatpickr-current-month .numInputWrapper span.arrowUp:after{border-bottom-color:rgba(0,0,0,0.9)}.flatpickr-current-month .numInputWrapper span.arrowDown:after{border-top-color:rgba(0,0,0,0.9)}.flatpickr-current-month input.cur-year{background:transparent;-webkit-box-sizing:border-box;box-sizing:border-box;color:inherit;cursor:text;padding:0 0 0 .5ch;margin:0;display:inline-block;font-size:inherit;font-family:inherit;font-weight:300;line-height:inherit;height:auto;border:0;border-radius:0;vertical-align:initial;-webkit-appearance:textfield;-moz-appearance:textfield;appearance:textfield;}.flatpickr-current-month input.cur-year:focus{outline:0}.flatpickr-current-month input.cur-year[disabled],.flatpickr-current-month input.cur-year[disabled]:hover{font-size:100%;color:rgba(0,0,0,0.5);background:transparent;pointer-events:none}.flatpickr-current-month .flatpickr-monthDropdown-months{appearance:menulist;background:transparent;border:none;border-radius:0;box-sizing:border-box;color:inherit;cursor:pointer;font-size:inherit;font-family:inherit;font-weight:300;height:auto;line-height:inherit;margin:-1px 0 0 0;outline:none;padding:0 0 0 .5ch;position:relative;vertical-align:initial;-webkit-box-sizing:border-box;-webkit-appearance:menulist;-moz-appearance:menulist;width:auto;}.flatpickr-current-month .flatpickr-monthDropdown-months:focus,.flatpickr-current-month .flatpickr-monthDropdown-months:active{outline:none}.flatpickr-current-month .flatpickr-monthDropdown-months:hover{background:rgba(0,0,0,0.05)}.flatpickr-current-month .flatpickr-monthDropdown-months .flatpickr-monthDropdown-month{background-color:transparent;outline:none;padding:0}.flatpickr-weekdays{background:transparent;text-align:center;overflow:hidden;width:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;height:28px;}.flatpickr-weekdays .flatpickr-weekdaycontainer{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1}span.flatpickr-weekday{cursor:default;font-size:90%;background:transparent;color:rgba(0,0,0,0.54);line-height:1;margin:0;text-align:center;display:block;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;font-weight:bolder}.dayContainer,.flatpickr-weeks{padding:1px 0 0 0}.flatpickr-days{position:relative;overflow:hidden;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start;width:307.875px;}.flatpickr-days:focus{outline:0}.dayContainer{padding:0;outline:0;text-align:left;width:307.875px;min-width:307.875px;max-width:307.875px;-webkit-box-sizing:border-box;box-sizing:border-box;display:inline-block;display:-ms-flexbox;display:-webkit-box;display:-webkit-flex;display:flex;-webkit-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-wrap:wrap;-ms-flex-pack:justify;-webkit-justify-content:space-around;justify-content:space-around;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);opacity:1;}.dayContainer + .dayContainer{-webkit-box-shadow:-1px 0 0 #e6e6e6;box-shadow:-1px 0 0 #e6e6e6}.flatpickr-day{background:none;border:1px solid transparent;border-radius:150px;-webkit-box-sizing:border-box;box-sizing:border-box;color:#393939;cursor:pointer;font-weight:400;width:14.2857143%;-webkit-flex-basis:14.2857143%;-ms-flex-preferred-size:14.2857143%;flex-basis:14.2857143%;max-width:39px;height:39px;line-height:39px;margin:0;display:inline-block;position:relative;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;text-align:center;}.flatpickr-day.inRange,.flatpickr-day.prevMonthDay.inRange,.flatpickr-day.nextMonthDay.inRange,.flatpickr-day.today.inRange,.flatpickr-day.prevMonthDay.today.inRange,.flatpickr-day.nextMonthDay.today.inRange,.flatpickr-day:hover,.flatpickr-day.prevMonthDay:hover,.flatpickr-day.nextMonthDay:hover,.flatpickr-day:focus,.flatpickr-day.prevMonthDay:focus,.flatpickr-day.nextMonthDay:focus{cursor:pointer;outline:0;background:#e6e6e6;border-color:#e6e6e6}.flatpickr-day.today{border-color:#959ea9;}.flatpickr-day.today:hover,.flatpickr-day.today:focus{border-color:#959ea9;background:#959ea9;color:#fff}.flatpickr-day.selected,.flatpickr-day.startRange,.flatpickr-day.endRange,.flatpickr-day.selected.inRange,.flatpickr-day.startRange.inRange,.flatpickr-day.endRange.inRange,.flatpickr-day.selected:focus,.flatpickr-day.startRange:focus,.flatpickr-day.endRange:focus,.flatpickr-day.selected:hover,.flatpickr-day.startRange:hover,.flatpickr-day.endRange:hover,.flatpickr-day.selected.prevMonthDay,.flatpickr-day.startRange.prevMonthDay,.flatpickr-day.endRange.prevMonthDay,.flatpickr-day.selected.nextMonthDay,.flatpickr-day.startRange.nextMonthDay,.flatpickr-day.endRange.nextMonthDay{background:#569ff7;-webkit-box-shadow:none;box-shadow:none;color:#fff;border-color:#569ff7}.flatpickr-day.selected.startRange,.flatpickr-day.startRange.startRange,.flatpickr-day.endRange.startRange{border-radius:50px 0 0 50px}.flatpickr-day.selected.endRange,.flatpickr-day.startRange.endRange,.flatpickr-day.endRange.endRange{border-radius:0 50px 50px 0}.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n+1)),.flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n+1)),.flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n+1)){-webkit-box-shadow:-10px 0 0 #569ff7;box-shadow:-10px 0 0 #569ff7}.flatpickr-day.selected.startRange.endRange,.flatpickr-day.startRange.startRange.endRange,.flatpickr-day.endRange.startRange.endRange{border-radius:50px}.flatpickr-day.inRange{border-radius:0;-webkit-box-shadow:-5px 0 0 #e6e6e6,5px 0 0 #e6e6e6;box-shadow:-5px 0 0 #e6e6e6,5px 0 0 #e6e6e6}.flatpickr-day.flatpickr-disabled,.flatpickr-day.flatpickr-disabled:hover,.flatpickr-day.prevMonthDay,.flatpickr-day.nextMonthDay,.flatpickr-day.notAllowed,.flatpickr-day.notAllowed.prevMonthDay,.flatpickr-day.notAllowed.nextMonthDay{color:rgba(57,57,57,0.3);background:transparent;border-color:transparent;cursor:default}.flatpickr-day.flatpickr-disabled,.flatpickr-day.flatpickr-disabled:hover{cursor:not-allowed;color:rgba(57,57,57,0.1)}.flatpickr-day.week.selected{border-radius:0;-webkit-box-shadow:-5px 0 0 #569ff7,5px 0 0 #569ff7;box-shadow:-5px 0 0 #569ff7,5px 0 0 #569ff7}.flatpickr-day.hidden{visibility:hidden}.rangeMode .flatpickr-day{margin-top:1px}.flatpickr-weekwrapper{float:left;}.flatpickr-weekwrapper .flatpickr-weeks{padding:0 12px;-webkit-box-shadow:1px 0 0 #e6e6e6;box-shadow:1px 0 0 #e6e6e6}.flatpickr-weekwrapper .flatpickr-weekday{float:none;width:100%;line-height:28px}.flatpickr-weekwrapper span.flatpickr-day,.flatpickr-weekwrapper span.flatpickr-day:hover{display:block;width:100%;max-width:none;color:rgba(57,57,57,0.3);background:transparent;cursor:default;border:none}.flatpickr-innerContainer{display:block;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-sizing:border-box;box-sizing:border-box;overflow:hidden;}.flatpickr-rContainer{display:inline-block;padding:0;-webkit-box-sizing:border-box;box-sizing:border-box}.flatpickr-time{text-align:center;outline:0;display:block;height:0;line-height:40px;max-height:40px;-webkit-box-sizing:border-box;box-sizing:border-box;overflow:hidden;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}.flatpickr-time:after{content:"";display:table;clear:both}.flatpickr-time .numInputWrapper{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;width:40%;height:40px;float:left;}.flatpickr-time .numInputWrapper span.arrowUp:after{border-bottom-color:#393939}.flatpickr-time .numInputWrapper span.arrowDown:after{border-top-color:#393939}.flatpickr-time.hasSeconds .numInputWrapper{width:26%}.flatpickr-time.time24hr .numInputWrapper{width:49%}.flatpickr-time input{background:transparent;-webkit-box-shadow:none;box-shadow:none;border:0;border-radius:0;text-align:center;margin:0;padding:0;height:inherit;line-height:inherit;color:#393939;font-size:14px;position:relative;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-appearance:textfield;-moz-appearance:textfield;appearance:textfield;}.flatpickr-time input.flatpickr-hour{font-weight:bold}.flatpickr-time input.flatpickr-minute,.flatpickr-time input.flatpickr-second{font-weight:400}.flatpickr-time input:focus{outline:0;border:0}.flatpickr-time .flatpickr-time-separator,.flatpickr-time .flatpickr-am-pm{height:inherit;float:left;line-height:inherit;color:#393939;font-weight:bold;width:2%;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-align-self:center;-ms-flex-item-align:center;align-self:center}.flatpickr-time .flatpickr-am-pm{outline:0;width:18%;cursor:pointer;text-align:center;font-weight:400}.flatpickr-time input:hover,.flatpickr-time .flatpickr-am-pm:hover,.flatpickr-time input:focus,.flatpickr-time .flatpickr-am-pm:focus{background:#eee}.flatpickr-input[readonly]{cursor:pointer}@-webkit-keyframes fpFadeInDown{from{opacity:0;-webkit-transform:translate3d(0,-20px,0);transform:translate3d(0,-20px,0)}to{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}@keyframes fpFadeInDown{from{opacity:0;-webkit-transform:translate3d(0,-20px,0);transform:translate3d(0,-20px,0)}to{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}@charset "UTF-8";

:root {
  --color-base: rgba(15, 76, 117, 1);
  --color-base-lighter: #dcd6f7;
  --color-variant: #3282b8;
  --color-variant-2: #bbe1fa;
  --color-variant-3: #1b262c;
  --color-background: #f3f5f8;
  --size-base-font: 14px;
  --shadow-xs: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --shadow-sm: 0 3px 6px rgba(145, 145, 145, 0.6), 0 3px 6px rgba(0, 0, 0, 0.23);
  --shadow-sm-light: 0px 4px 6px 0px rgba(12, 0, 46, 0.06);
  --shadow-md: 0 10px 20px rgba(0, 0, 0, 0.09), 0 6px 6px rgba(0, 0, 0, 0.13);
  --shadow-md-light: 0px 4px 6px 0px rgba(12, 0, 46, 0.12);
  --shadow-lg: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  --shadow-lg-light: 0px 30px 60px 0px rgba(0, 11, 40, 0.14);
  --transition-section-item-fast: all .24s cubic-bezier(.685, .0473, .346, 1);
  --transition-section-item: all .6s ease-in-out;
}

a:hover {
  text-decoration: none;
}

.line-clamp,
.room-card__address,
.room-card__title {
  display: flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
}

.rounded-card,
.room-article-detail-host,
.room-article-detail-info {
  background: white;
  padding: 1rem;
  border-radius: 16px;
}

.page-place .place__item img,
.main-header #main-header__menu ul.navbar-nav .nav-item .nav-link,
.top-header ul li a,
.trovie-gallery .gallery__item .item__remove,
.trovie-gallery .gallery__item .item__image,
.trovie-gallery .gallery__item::before,
.address-result-list__item .item__icon,
.address-result-list__item,
.room-card__host .host__call,
.room-card__title,
.room-card__image img,
.room-card,
.btn-variant-outline,
.btn-variant,
.btn-base-outline,
.btn-base,
.form-group--edit__edit-btn {
  transition: var(--transition-section-item-fast);
}

.main-header #main-header__menu {
  transition: var(--transition-section-item);
}

.shadow-xs,
.main-header #main-header__menu ul.navbar-nav .nav-item .dropdown-menu,
.main-header,
.address-result-list,
.room-card,
.rounded-card,
.room-article-detail-host,
.room-article-detail-info {
  box-shadow: var(--shadow-xs);
}

.shadow-sm,
.room-card:hover {
  box-shadow: var(--shadow-sm);
}

.shadow-sm-light {
  box-shadow: var(--shadow-sm-light);
}

.shadow-sm-light-base {
  box-shadow: var(--shadow-sm-light-base);
}

.shadow-md {
  box-shadow: var(--shadow-md);
}

.shadow-md-light {
  box-shadow: var(--shadow-md-light);
}

.shadow-lg {
  box-shadow: var(--shadow-lg);
}

.shadow-lg-light {
  box-shadow: var(--shadow-lg-light);
}

.color-base-text {
  color: var(--color-base);
}

.color-base-bg {
  background: var(--color-base);
}

.color-base-darker-text {
  color: var(--color-base-darker);
}

.color-base-darker-bg {
  background: var(--color-base-darker);
}

.row--custom {
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

.col--custom {
  padding: 0 0.5rem;
  margin-bottom: 1rem;
}

@-webkit-keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

.form-group--present input,
.form-group--present select,
.form-group--present textarea {
  border-bottom: none;
}

.form-group label {
  font-weight: 700;
  margin-bottom: 0;
  padding-top: 0.25rem;
}

@media only screen and (max-width: 576px) {
  .form-group label {
    font-size: 12px;
  }
}

@media only screen and (max-width: SM) {
  .form-group label {
    font-size: 12px;
  }
}

.form-group--edit {
  position: relative;
}

.form-group--edit__edit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background: var(--color-base);
}

.form-group--edit__edit-btn .fa {
  display: block;
  width: 0.8em;
  height: 0.8em;
  font-size: 1rem;
  line-height: 0.8em;
  color: #ffffff;
}

.form-group--edit__edit-btn:hover {
  background: var(--color-variant);
}

.form-group--landscape {
  display: flex;
  align-items: flex-start;
}

.form-group--landscape label {
  display: flex;
  flex: 0 0 40%;
}

.form-group--unit {
  position: relative;
}

.form-group--unit::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0.3rem;
  line-height: 1.25rem;
}

.form-group--unit .form-control {
  padding-right: 3rem;
}

.form-group--unit .form-control--wide {
  padding-right: 3.5rem;
}

.form-group--unit--electric::after {
  content: "\111   / kV";
}

.form-group--unit--water::after {
  content: "\111   / m3";
}

.form-group--unit--meter::after {
  content: "m2";
}

.form-group--unit--man::after {
  content: "\F007";
  font-family: FontAwesome, serif;
}

.form-group--unit--price::after {
  content: "VN\110";
}

.form-group--unit--phone::after {
  content: "\F095";
  font-family: FontAwesome, serif;
  right: auto;
  left: 0;
}

.form-group--unit--phone .form-control {
  padding-left: 1.25rem;
  padding-right: 0;
}

.form-group--unit--date::after {
  content: "\F073";
  font-family: FontAwesome, serif;
  right: auto;
  left: 0;
}

.form-group--unit--date .form-control {
  padding-left: 1.5rem;
  padding-right: 0;
}

.trovie-input {
  border-width: 0 0 1px 0;
  height: auto;
  line-height: 1.25rem;
  padding: 0.25rem 0;
  border-radius: 0;
}

.trovie-input[readonly] {
  background-color: transparent;
}

.trovie-input:hover,
.trovie-input:focus {
  outline: none;
  box-shadow: none;
}

.trovie-input[type=radio] {
  z-index: 99;
  width: 100%;
  height: 100%;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: var(--color-base);
  background-color: var(--color-base);
}

.custom-switch:hover,
.custom-switch label {
  cursor: pointer !important;
}

.custom-switch .custom-control-label::after {
  background-color: var(--color-base);
}

.custom-checkbox {
  margin-top: 0.5rem;
}

.custom-checkbox .custom-control-label {
  font-weight: 500;
  line-height: 1.25em;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0;
}

.trovie-fieldset {
  border: 1px solid var(--color-base);
  border-radius: 4px;
}

.trovie-fieldset legend {
  font-size: 1rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: 0.5rem;
  font-weight: bold;
}

.btn {
  border-radius: 0;
}

.btn-base {
  background: var(--color-base);
  color: #ffffff;
  border: 1px solid var(--color-base);
}

.btn-base:hover {
  background: #ffffff;
  color: var(--color-base);
}

.btn-base-outline {
  background: transparent;
  color: var(--color-base);
  border: 1px solid var(--color-base);
}

.btn-base-outline:hover {
  background: var(--color-base);
  color: #ffffff;
}

.btn-variant {
  background: var(--color-variant);
  color: #ffffff;
  border: 1px solid var(--color-variant);
}

.btn-variant:hover {
  background: #ffffff;
  color: var(--color-variant);
}

.btn-variant-outline {
  background: transparent;
  color: var(--color-variant);
  border: 1px solid var(--color-variant);
}

.btn-variant-outline:hover {
  background: var(--color-variant);
  color: #ffffff;
}

.room-card {
  background: #fff;
  font-size: 14px;
  overflow: hidden;
  border-radius: 8px;
}

@media only screen and (min-width: 993px) {
  .room-card:hover .room-card__image img {
    transform: scale(1.2);
  }
}

@media only screen and (min-width: 993px) {
  .room-card:not(.room-card--horizon) .room-card__image {
    height: 12rem;
  }
}

.room-card .fa {
  color: var(--color-base);
  font-weight: bold;
  font-size: 1.1rem;
  margin-right: 0.6rem;
}

.room-card__image {
  margin-bottom: 0;
  display: block;
  overflow: hidden;
  padding: 0.5rem;
}

.room-card__image img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.room-card__body {
  padding-top: 0.5rem;
}

.room-card__title {
  padding: 0 0.5rem;
  font-size: 1.1em;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: var(--color-base);
  text-transform: uppercase;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  line-height: 1.25em;
  height: 2.5em;
}

.room-card__title:hover {
  color: var(--color-variant-3);
}

.room-card__address {
  padding: 0 0.5rem;
  margin-bottom: 0.5rem;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  line-height: 1.25em;
  height: 1.25em;
}

.room-card__prop-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.room-card__prop-list .prop-list__item {
  display: flex;
  align-items: center;
  flex: 0 0 50%;
  padding: 0.5rem 0.25rem 0.5rem 0.5rem;
  border-top: 1px solid lightgray;
}

.room-card__prop-list .prop-list__item:nth-child(2n) {
  padding-left: 0.25rem;
  padding-right: 0.5rem;
}

.room-card__prop-list .prop-list__item--price span {
  color: var(--color-base);
  font-weight: bold;
}

.room-card__prop-list .prop-list__item--acreage {
  flex: 1 1 auto;
}

.room-card__host {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid lightgray;
}

.room-card__host .host__link {
  display: flex;
  align-items: center;
}

.room-card__host .host__link .host__avatar {
  margin-bottom: 0;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--color-base);
}

.room-card__host .host__link .host__avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.room-card__host .host__link .host__name {
  margin-bottom: 0;
  color: var(--color-variant-3);
  margin-left: 0.5rem;
  text-transform: capitalize;
}

.room-card__host .host__link .host__name:hover {
  color: var(--color-base);
}

.room-card__host .host__call {
  width: 2.4rem;
  height: 2.4rem;
  border: 1px solid var(--color-base);
  background: var(--color-base);
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.room-card__host .host__call .fa {
  font-size: 1.2rem;
  color: white;
  margin: 0;
}

.room-card__host .host__call:hover {
  background: white;
}

.room-card__host .host__call:hover .fa {
  color: var(--color-base);
}

@media only screen and (max-width: 576px) {
  .room-card--mobile-horizon {
    display: flex;
    font-size: 13px;
  }
}

@media only screen and (max-width: SM) {
  .room-card--mobile-horizon {
    display: flex;
    font-size: 13px;
  }
}

@media only screen and (max-width: 576px) {
  .room-card--mobile-horizon .fa {
    font-size: 1em;
    margin-right: 0.25rem;
  }
}

@media only screen and (max-width: SM) {
  .room-card--mobile-horizon .fa {
    font-size: 1em;
    margin-right: 0.25rem;
  }
}

@media only screen and (max-width: 576px) {
  .room-card--mobile-horizon .room-card__image {
    display: flex;
    flex: 0 0 35%;
    padding: 0.25rem;
  }

  .room-card--mobile-horizon .room-card__image img {
    border-radius: 6px;
  }
}

@media only screen and (max-width: SM) {
  .room-card--mobile-horizon .room-card__image {
    display: flex;
    flex: 0 0 35%;
    padding: 0.25rem;
  }

  .room-card--mobile-horizon .room-card__image img {
    border-radius: 6px;
  }
}

@media only screen and (max-width: 576px) {
  .room-card--mobile-horizon .room-card__body {
    padding-top: 0.25rem;
  }
}

@media only screen and (max-width: SM) {
  .room-card--mobile-horizon .room-card__body {
    padding-top: 0.25rem;
  }
}

@media only screen and (max-width: 576px) {
  .room-card--mobile-horizon .room-card__title {
    font-size: 1em;
    margin-bottom: 0.25rem;
  }
}

@media only screen and (max-width: SM) {
  .room-card--mobile-horizon .room-card__title {
    font-size: 1em;
    margin-bottom: 0.25rem;
  }
}

@media only screen and (max-width: 576px) {
  .room-card--mobile-horizon .room-card__address {
    margin-bottom: 0.25rem;
  }
}

@media only screen and (max-width: SM) {
  .room-card--mobile-horizon .room-card__address {
    margin-bottom: 0.25rem;
  }
}

@media only screen and (max-width: 576px) {
  .room-card--mobile-horizon .room-card__prop-list .prop-list__item {
    padding: 0.25rem 0.5rem;
  }
}

@media only screen and (max-width: SM) {
  .room-card--mobile-horizon .room-card__prop-list .prop-list__item {
    padding: 0.25rem 0.5rem;
  }
}

@media only screen and (max-width: 576px) {
  .room-card--mobile-horizon .room-card__host {
    padding: 0.25rem;
  }
}

@media only screen and (max-width: SM) {
  .room-card--mobile-horizon .room-card__host {
    padding: 0.25rem;
  }
}

@media only screen and (max-width: 576px) {
  .room-card--mobile-horizon .room-card__host .host__avatar {
    width: 1.85rem;
    height: 1.85rem;
  }
}

@media only screen and (max-width: SM) {
  .room-card--mobile-horizon .room-card__host .host__avatar {
    width: 1.85rem;
    height: 1.85rem;
  }
}

@media only screen and (max-width: 576px) {
  .room-card--mobile-horizon .room-card__host .host__call {
    width: 1.85rem;
    height: 1.85rem;
  }
}

@media only screen and (max-width: SM) {
  .room-card--mobile-horizon .room-card__host .host__call {
    width: 1.85rem;
    height: 1.85rem;
  }
}

.room-card--horizon {
  display: flex;
  font-size: 13px;
}

.room-card--horizon .fa {
  font-size: 1em;
  margin-right: 0.25rem;
}

.room-card--horizon .room-card__image {
  display: flex;
  flex: 0 0 35%;
  border-radius: 6px 0 0 6px;
}

.room-card--horizon .room-card__body {
  padding-top: 0.25rem;
}

.room-card--horizon .room-card__title {
  font-size: 1em;
  margin-bottom: 0.25rem;
}

.room-card--horizon .room-card__address {
  margin-bottom: 0.25rem;
}

.room-card--horizon .room-card__prop-list .prop-list__item {
  padding: 0.25rem 0.5rem;
}

.room-card--horizon .room-card__host {
  padding: 0.25rem;
}

.room-card--horizon .room-card__host .host__avatar {
  width: 1.85rem;
  height: 1.85rem;
}

.room-card--horizon .room-card__host .host__call {
  width: 1.85rem;
  height: 1.85rem;
}

.address-result-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 9;
  background: #fff;
}

.address-result-list__item {
  display: flex;
  padding: 0.5rem;
  border-bottom: 1px solid lightgray;
}

.address-result-list__item:hover {
  background: var(--color-base);
  color: white;
  cursor: pointer;
}

.address-result-list__item:hover .item__icon {
  color: white;
}

.address-result-list__item .item__icon {
  margin-bottom: 0;
  display: flex;
  flex: 0 0 1rem;
  font-size: 1.25rem;
  color: var(--color-base);
  justify-content: flex-start;
  padding-top: 0.25rem;
  margin-right: 0.5rem;
}

.address-result-list__item .item__content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.address-result-list__item .item__content .content__title {
  margin-bottom: 0.25rem;
  font-weight: 700;
}

.address-result-list__item .item__content .content__detail {
  margin: 0;
  font-size: 0.85rem;
}

.trovie-gallery .gallery__item {
  position: relative;
  padding-bottom: 100%;
  display: block;
  overflow: hidden;
  border-radius: 12px;
}

.trovie-gallery .gallery__item::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.24);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}

.trovie-gallery .gallery__item--upload {
  background: #ebebeb;
}

.trovie-gallery .gallery__item--upload::before {
  content: "\F067";
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: FontAwesome, serif;
  opacity: 0.8;
  color: white;
  font-size: 3rem;
}

.trovie-gallery .gallery__item--upload input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 9999;
}

.trovie-gallery .gallery__item--upload input:hover {
  cursor: pointer;
}

.trovie-gallery .gallery__item .item__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.trovie-gallery .gallery__item .item__remove {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  color: #ffffff;
  z-index: 3;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid white;
  opacity: 0;
  border-radius: 50%;
}

.trovie-gallery .gallery__item .item__remove .fa {
  font-size: 0.8rem;
}

.trovie-gallery .gallery__item .item__remove:hover {
  background-color: white;
  color: var(--danger);
}

.trovie-gallery .gallery__item:hover::before {
  opacity: 1 !important;
}

.trovie-gallery .gallery__item:hover .item__image {
  transform: scale(1.15);
}

.trovie-gallery .gallery__item:hover .item__remove {
  opacity: 1 !important;
}

.trovie-avatar-upload {
  width: 100%;
  position: relative;
  padding-bottom: 50%;
  border: 2px solid var(--color-base);
  border-radius: 6px;
  overflow: hidden;
}

.trovie-avatar-upload.square {
  padding-bottom: 100%;
}

.trovie-avatar-upload .upload__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.trovie-avatar-upload .upload__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.trovie-avatar-upload .upload__file {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.trovie-avatar-upload .upload__file:hover {
  cursor: pointer;
}

body {
  background: #ebebeb;
}

.pagination {
  margin-bottom: 0;
}

.pagination .page-item .page-link {
  color: var(--color-base);
}

.pagination .page-item.active .page-link {
  background: var(--color-base) !important;
  border-color: var(--color-base) !important;
  color: white !important;
}

.host-marker {
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  border: 2px solid var(--color-base);
}

.host-marker__name {
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: var(--color-base);
  background: rgba(255, 255, 255, 0.75);
  left: 50%;
  top: 95%;
  transform: translateX(-50%);
  padding: 0.1rem 0.25rem;
  font-weight: bold;
  border-radius: 6px;
  opacity: 0.85;
}

.top-header ul li a {
  color: #ffffff;
  display: block;
  padding: 0.65rem 0.85rem;
}

.top-header ul li a:hover {
  background: #ffffff;
  color: var(--color-base);
}

.main-header {
  background: #ffffff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99999;
}

.main-header nav {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.main-header nav .navbar-brand {
  font-weight: bold;
  font-size: 2rem;
  margin-right: 0;
  padding: 0;
  background-image: linear-gradient(45deg, var(--color-base), var(--color-variant));
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 992px) {
  .main-header #main-header__menu {
    position: fixed;
    top: 48px;
    left: 0;
    width: 100%;
    height: calc(100% - 48px);
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translate(-100%, 0);
  }

  .main-header #main-header__menu.show {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@media only screen and (max-width: LG) {
  .main-header #main-header__menu {
    position: fixed;
    top: 48px;
    left: 0;
    width: 100%;
    height: calc(100% - 48px);
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translate(-100%, 0);
  }

  .main-header #main-header__menu.show {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.main-header #main-header__menu .close-menu-btn {
  position: absolute;
  right: 0;
}

.main-header #main-header__menu ul.navbar-nav {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 992px) {
  .main-header #main-header__menu ul.navbar-nav {
    background: white;
    width: 80%;
    height: 100%;
    overflow-y: auto;
  }
}

@media only screen and (max-width: LG) {
  .main-header #main-header__menu ul.navbar-nav {
    background: white;
    width: 80%;
    height: 100%;
    overflow-y: auto;
  }
}

@media only screen and (max-width: 992px) {
  .main-header #main-header__menu ul.navbar-nav .nav-item {
    width: 100%;
  }
}

@media only screen and (max-width: LG) {
  .main-header #main-header__menu ul.navbar-nav .nav-item {
    width: 100%;
  }
}

@media only screen and (max-width: 992px) {
  .main-header #main-header__menu ul.navbar-nav .nav-item.dropdown .nav-link {
    display: flex;
    justify-content: space-between;
  }

  .main-header #main-header__menu ul.navbar-nav .nav-item.dropdown .nav-link .fa {
    font-weight: bold;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-content: center;
  }
}

@media only screen and (max-width: LG) {
  .main-header #main-header__menu ul.navbar-nav .nav-item.dropdown .nav-link {
    display: flex;
    justify-content: space-between;
  }

  .main-header #main-header__menu ul.navbar-nav .nav-item.dropdown .nav-link .fa {
    font-weight: bold;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-content: center;
  }
}

.main-header #main-header__menu ul.navbar-nav .nav-item.home .nav-link {
  font-size: 1.4rem;
  padding: 0.7rem 1.8rem;
}

.main-header #main-header__menu ul.navbar-nav .nav-item .nav-link {
  color: var(--color-base);
  font-size: 0.9rem;
  padding: 0.65rem 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
}

@media only screen and (min-width: 993px) {
  .main-header #main-header__menu ul.navbar-nav .nav-item .nav-link {
    border-radius: 20px;
  }
}

.main-header #main-header__menu ul.navbar-nav .nav-item .dropdown-menu {
  border-radius: 0px;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 993px) {
  .main-header #main-header__menu ul.navbar-nav .nav-item .dropdown-menu {
    padding: 0.25rem;
    border-radius: 8px;
  }
}

@media only screen and (max-width: 992px) {
  .main-header #main-header__menu ul.navbar-nav .nav-item .dropdown-menu {
    position: relative;
    top: 0;
    box-shadow: none;
    border: none;
  }
}

@media only screen and (max-width: LG) {
  .main-header #main-header__menu ul.navbar-nav .nav-item .dropdown-menu {
    position: relative;
    top: 0;
    box-shadow: none;
    border: none;
  }
}

.main-header #main-header__menu ul.navbar-nav .nav-item .dropdown-menu--wide {
  width: 60vw;
  left: 50%;
  transform: translateX(-50%);
  flex-wrap: wrap;
}

.main-header #main-header__menu ul.navbar-nav .nav-item .dropdown-menu--wide .menu-item {
  width: calc(100% / 4);
}

@media only screen and (max-width: 768px) {
  .main-header #main-header__menu ul.navbar-nav .nav-item .dropdown-menu--wide .menu-item {
    width: calc(100% / 2);
  }

  .main-header #main-header__menu ul.navbar-nav .nav-item .dropdown-menu--wide .menu-item .nav-link {
    font-size: 13px !important;
    padding: 0.5rem 0.85rem !important;
  }
}

@media only screen and (max-width: MD) {
  .main-header #main-header__menu ul.navbar-nav .nav-item .dropdown-menu--wide .menu-item {
    width: calc(100% / 2);
  }

  .main-header #main-header__menu ul.navbar-nav .nav-item .dropdown-menu--wide .menu-item .nav-link {
    font-size: 13px !important;
    padding: 0.5rem 0.85rem !important;
  }
}

.main-header #main-header__menu ul.navbar-nav .nav-item .dropdown-menu--wide.show {
  display: flex;
}

.main-header #main-header__menu ul.navbar-nav .nav-item .dropdown-menu .menu-item .nav-link {
  color: var(--color-variant-3);
  background: #ffffff;
  padding: 0.35rem 1.35rem;
  font-size: 0.9rem;
}

@media only screen and (min-width: 993px) {
  .main-header #main-header__menu ul.navbar-nav .nav-item .dropdown-menu .menu-item .nav-link {
    border-radius: 8px;
    margin-bottom: 0.25rem;
  }

  .main-header #main-header__menu ul.navbar-nav .nav-item .dropdown-menu .menu-item .nav-link:last-child {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 992px) {
  .main-header #main-header__menu ul.navbar-nav .nav-item .dropdown-menu .menu-item .nav-link {
    padding-left: 3rem;
  }
}

@media only screen and (max-width: LG) {
  .main-header #main-header__menu ul.navbar-nav .nav-item .dropdown-menu .menu-item .nav-link {
    padding-left: 3rem;
  }
}

.main-header #main-header__menu ul.navbar-nav .nav-item .dropdown-menu .menu-item .nav-link:hover {
  background: var(--color-base);
  color: white;
}

.main-header #main-header__menu ul.navbar-nav .nav-item:hover .nav-link {
  background: var(--color-base);
  color: white;
}

@media only screen and (min-width: 993px) {
  .main-header #main-header__menu ul.navbar-nav .nav-item:hover > .dropdown-menu {
    display: block;
  }
}

@media only screen and (min-width: 993px) {
  .main-header #main-header__menu ul.navbar-nav .nav-item:hover > .dropdown-menu--wide {
    display: flex;
  }
}

.page-section__footer {
  background: #ddd;
  padding: 3rem 0 0rem 0;
}

@media only screen and (max-width: 768px) {
  .footer-item--logo {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: MD) {
  .footer-item--logo {
    margin-bottom: 1rem;
  }
}

.footer-item .footer-item__title {
  font-size: 1.15rem;
  margin-bottom: 0.65rem;
  color: var(--color-base);
  font-weight: bold;
}

.footer-item .footer-item__list .list__item {
  margin-top: 0.55rem;
  line-height: 1.25em;
}

.footer-item .footer-item__list .list__item--link a {
  color: var(--color-variant-3);
  padding-left: 1rem;
  position: relative;
  display: block;
}

.footer-item .footer-item__list .list__item--link a::after {
  position: absolute;
  content: "\F105";
  font-family: FontAwesome, serif;
  top: 0;
  left: 0;
}

.footer-item .footer-item__list .list__item a {
  color: var(--color-base);
}

.footer-item .footer-item__list .list__item a:hover {
  color: var(--color-base);
}

.footer-item .footer-item__list .list__item .fa {
  color: var(--color-base);
  font-weight: bold;
  width: 1.3rem;
  display: inline-flex;
  justify-content: center;
  align-content: center;
}

.page-banner {
  height: 28rem;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  filter: blur(6px);
  -webkit-filter: blur(6px);
  z-index: 1;
}

.page-banner form.search-form {
  position: relative;
  z-index: 2;
}

.page-banner form.search-form .search-form--wrapper {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.4);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .page-banner form.search-form .search-form--wrapper {
    flex-wrap: wrap;
    width: 100%;
  }
}

@media only screen and (max-width: MD) {
  .page-banner form.search-form .search-form--wrapper {
    flex-wrap: wrap;
    width: 100%;
  }
}

.page-banner form.search-form input,
.page-banner form.search-form select {
  height: 2.5rem;
  padding: 0.5rem;
  font-size: 0.95rem;
  border-bottom: 3px solid var(--color-base);
}

.page-banner form.search-form .form-group__district,
.page-banner form.search-form .form-group__city {
  position: relative;
  padding-right: 0.5rem;
}

@media only screen and (max-width: 768px) {
  .page-banner form.search-form .form-group__district,
  .page-banner form.search-form .form-group__city {
    width: 50%;
    padding-right: 0;
  }
}

@media only screen and (max-width: MD) {
  .page-banner form.search-form .form-group__district,
  .page-banner form.search-form .form-group__city {
    width: 50%;
    padding-right: 0;
  }
}

.page-banner form.search-form .form-group__district select,
.page-banner form.search-form .form-group__city select {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .page-banner form.search-form .form-group__district select,
  .page-banner form.search-form .form-group__city select {
    width: 100%;
  }
}

@media only screen and (max-width: MD) {
  .page-banner form.search-form .form-group__district select,
  .page-banner form.search-form .form-group__city select {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .page-banner form.search-form .form-group__search_key {
    width: 60%;
  }
}

@media only screen and (max-width: MD) {
  .page-banner form.search-form .form-group__search_key {
    width: 60%;
  }
}

.page-banner form.search-form .form-group__search_key input {
  width: 22rem;
}

@media only screen and (max-width: 768px) {
  .page-banner form.search-form .form-group__search_key input {
    margin-top: 0.5rem;
    width: 100%;
  }
}

@media only screen and (max-width: MD) {
  .page-banner form.search-form .form-group__search_key input {
    margin-top: 0.5rem;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .page-banner form.search-form .form-group__submit-btn {
    width: 40%;
  }
}

@media only screen and (max-width: MD) {
  .page-banner form.search-form .form-group__submit-btn {
    width: 40%;
  }
}

.page-banner form.search-form .form-group__submit-btn button {
  height: 40px;
  border-bottom: 3px solid var(--color-base);
  border-top: none;
}

@media only screen and (max-width: 768px) {
  .page-banner form.search-form .form-group__submit-btn button {
    margin-top: 0.5rem;
    width: 100%;
  }
}

@media only screen and (max-width: MD) {
  .page-banner form.search-form .form-group__submit-btn button {
    margin-top: 0.5rem;
    width: 100%;
  }
}

.page-section {
  margin-top: 1rem;
}

.page-section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  border-bottom: 3px solid var(--color-base);
}

.page-section__header .header__title {
  margin-bottom: 0;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 1.15em;
  background: var(--color-base);
  padding: 0 1rem;
  display: flex;
  align-items: center;
  position: relative;
  height: 2.4rem;
}

@media only screen and (max-width: 576px) {
  .page-section__header .header__title {
    font-size: 1rem;
    height: 2rem;
  }
}

@media only screen and (max-width: SM) {
  .page-section__header .header__title {
    font-size: 1rem;
    height: 2rem;
  }
}

.page-section__header .header__title::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  border-style: solid;
  border-width: 1.2rem;
  border-color: transparent transparent var(--color-base) var(--color-base);
}

@media only screen and (max-width: 576px) {
  .page-section__header .header__title::after {
    border-width: 1rem;
  }
}

@media only screen and (max-width: SM) {
  .page-section__header .header__title::after {
    border-width: 1rem;
  }
}

.page-section__header .header__more {
  color: var(--color-base);
}

@media only screen and (max-width: 576px) {
  .page-section__header .header__more {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: SM) {
  .page-section__header .header__more {
    font-size: 0.9rem;
  }
}

.page-section__header .header__more:hover {
  color: var(--color-variant);
}

.page-place {
  margin-top: 0;
}

.page-place .place__item {
  display: block;
  width: 100%;
  position: relative;
  padding-bottom: 100%;
  overflow: hidden;
  border-radius: 14px;
}

.page-place .place__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 1;
}

@media only screen and (min-width: 993px) {
  .page-place .place__item:hover img {
    transform: scale(1.2);
  }
}

.page-place .place__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.page-place .place__item .item__content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  color: white;
  text-shadow: 0 0 1px black;
}

.page-place .place__item .item__content .content__name {
  margin-bottom: 0rem;
  font-weight: bold;
  font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {
  .page-place .place__item .item__content .content__name {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: MD) {
  .page-place .place__item .item__content .content__name {
    font-size: 1.2rem;
  }
}

.page-place .place__item .item__content .content__number {
  font-size: 1.25rem;
  margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
  .page-place .place__item .item__content .content__number {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: MD) {
  .page-place .place__item .item__content .content__number {
    font-size: 1.1rem;
  }
}

.room-article-detail__gallery img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.room-article-detail .lSSlideWrapper {
  border-radius: 14px;
}

.room-article-detail .gallery__list > li {
  height: 30rem;
}

@media only screen and (max-width: 768px) {
  .room-article-detail .gallery__list > li {
    height: 20rem;
  }
}

@media only screen and (max-width: MD) {
  .room-article-detail .gallery__list > li {
    height: 20rem;
  }
}

.room-article-detail .lSSlideOuter .lSPager.lSGallery li {
  height: 130px !important;
  border-radius: 0;
}

.room-article-detail .lSSlideOuter .lSPager.lSGallery li img {
  height: 100% !important;
  border-radius: 14px;
}

@media only screen and (max-width: 992px) {
  .room-article-detail .lSSlideOuter .lSPager.lSGallery li {
    height: 110px !important;
  }
}

@media only screen and (max-width: LG) {
  .room-article-detail .lSSlideOuter .lSPager.lSGallery li {
    height: 110px !important;
  }
}

@media only screen and (max-width: 768px) {
  .room-article-detail .lSSlideOuter .lSPager.lSGallery li {
    height: 90px !important;
  }
}

@media only screen and (max-width: MD) {
  .room-article-detail .lSSlideOuter .lSPager.lSGallery li {
    height: 90px !important;
  }
}

.room-article-detail-info {
  margin-bottom: 1rem;
}

.room-article-detail-info .info__title {
  font-weight: bold;
  color: var(--color-base);
  text-transform: uppercase;
  font-size: 1.1rem;
  line-height: 1.25em;
  margin-bottom: 0.5rem;
}

.room-article-detail-info .info__address {
  margin-bottom: 0.25rem;
  font-size: 0.9rem;
}

.room-article-detail-info .info__address .fa {
  color: var(--color-base);
}

.room-article-detail-info .info__prop-list {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9rem;
  border-bottom: 1px solid lightgray;
  padding-bottom: 0.5rem;
}

.room-article-detail-info .info__prop-list .prop-list__item {
  width: 50%;
  margin-top: 0.25rem;
}

.room-article-detail-info .info__prop-list .prop-list__item b {
  color: var(--color-base);
}

.room-article-detail-info .info__service-list {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9rem;
  margin-top: 0.25rem;
}

.room-article-detail-info .info__service-list .service-list__item {
  width: 50%;
  font-weight: bold;
  color: var(--color-base);
  position: relative;
  padding-left: 1rem;
  margin-top: 0.25rem;
}

.room-article-detail-info .info__service-list .service-list__item::after {
  position: absolute;
  content: "\F105";
  top: 0;
  left: 0;
  font-family: FontAwesome, serif;
  color: var(--color-base);
}

.room-article-detail-host .host__info {
  display: flex;
  align-items: center;
}

.room-article-detail-host .host__info .info__image {
  width: 4.25rem;
  height: 4.25rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 0.5rem;
  margin-bottom: 0;
  border: 3px solid var(--color-base);
}

.room-article-detail-host .host__info .info__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.room-article-detail-host .host__info .info__contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 auto;
}

.room-article-detail-host .host__info .info__contact .contact__name {
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.room-article-detail-host .host__info .info__contact .contact__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.room-article-detail-host .host__info .info__contact .contact__list .list__item a {
  display: flex;
  align-items: center;
  flex: 1 1 50%;
  padding: 0.25rem 0.65rem;
  border-radius: 16px;
}

.room-article-detail-host .host__info .info__contact .contact__list .list__item a .fa {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.side-room-articles__list .list__item {
  margin-top: 1rem;
}

.room-article-detail-general .general__title {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-base);
  font-size: 1.2rem;
  border-left: 5px solid var(--color-base);
  padding-left: 1rem;
  line-height: 2rem;
}

.room-article-detail-general .general__content p:last-child {
  margin-bottom: 0;
}

