html, body {
    scroll-behavior: smooth;
}

body {
    font-family: 'Muli', 'Roboto', serif;
    font-size: 16px;
    overflow-x: hidden;
    font-weight: normal;
    color: #333333;

    @include Responsive(LG) {
        font-size: 14px;
    }

    @include Responsive(SM) {
        font-size: 13px;
    }
}

.page-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: stretch;
    background: #f3f5f8;
    @include Responsive(LG) {
        flex-direction: column;
        height: auto;
        min-height: 100vh;
    }

    .main-panel {
        display: flex;
        flex-direction: column;
        flex: 1 1 94%;

        &__title {
            font-size: 1.55rem;
            padding: 1rem;
            margin-bottom: 1rem;
        }

        &__content {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            padding: 1rem;


            @include ResponsiveMin(LG) {
                height: 100vh;
                overflow-y: auto;
            }
        }
    }
}

.panel-content {
    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        padding: 0;

        &__title {
            margin-bottom: 0;
            font-size: 1.55rem;
            text-transform: uppercase;
            font-weight: 500;
        }

        &__content {
            display: flex;
            flex: 1 1 auto;
        }
    }
}

.page-item {
    .page-link {
        //border-color: var(--color-base);
        color: var(--color-base);
    }

    &.active {
        .page-link {
            background: var(--color-base) !important;
            border-color: var(--color-base) !important;
        }
    }
}
