.main-sidebar {
    z-index: 99;
    background: #ffffff;
    @extend .shadow-md-light;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 5rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    @extend %transition-section-item-fast;

    .main-sidebar__item {
        &--logo {
            margin-bottom: 4rem;

            .item__link {
                font-size: 1.4rem;
                font-weight: 900;
                justify-content: center;
                background: var(--color-base);
                color: #ffffff !important;
            }

            @include Responsive(MD) {
                display: none;
            }
        }

        &:last-child {
            margin-top: auto;
        }

        .item__link {
            display: flex;
            flex-direction: row;
            height: 4rem;
            align-items: center;
            color: var(--color-base);

            &:hover, &.active {
                background: var(--color-base);
                color: #ffffff;
            }

            @include Responsive(MD) {
                width: auto;
                padding: 0 .5rem;
            }

            .link__icon {
                margin-bottom: 0;
                display: flex;
                flex: 0 0 5rem;
                justify-content: center;
                font-size: 2.4rem;
                @extend %transition-section-item-fast;

                @include Responsive(MD) {
                    flex: 0 0 auto;
                    font-size: 1.8rem;
                }
            }

            .link__text {
                margin-bottom: 0;
                font-size: 1.1rem;
                margin-left: 1rem;
                min-width: 10rem;
                visibility: hidden;
                z-index: -1;
                opacity: 0;
                font-weight: 900;
                @extend %transition-section-item-fast;

                @include Responsive(MD) {
                    display: none;
                }
            }
        }
    }

    &:hover {
        @include ResponsiveMin(MD) {
            width: 15rem;
        }

        .main-sidebar__item {
            .item__link {
                .link__text {
                    z-index: 1;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    @include Responsive(MD) {
        flex-direction: row;
        width: 100vw;
        height: auto;
        top: auto;
        bottom: 0;
        justify-content: center;
    }
}
