.page-section__footer {
    background: #ddd;
    //color: #ffffff;
    padding: 3rem 0 0rem 0;
}

.footer-item {
    &--logo {
        @include Responsive(MD) {
            margin-bottom: 1rem;
        }
    }

    .footer-item__title {
        font-size: 1.15rem;
        margin-bottom: .65rem;
        color: var(--color-base);
        font-weight: bold;
    }

    .footer-item__list {
        .list__item {
            margin-top: .55rem;
            line-height: 1.25em;

            &--link {
                a {
                    color: var(--color-variant-3);
                    padding-left: 1rem;
                    position: relative;
                    display: block;

                    &::after {
                        position: absolute;
                        content: '\f105';
                        font-family: FontAwesome, serif;
                        top: 0;
                        left: 0;

                    }
                }
            }

            a {
                color: var(--color-base);
                &:hover {
                    color: var(--color-base);
                }
            }

            .fa {
                color: var(--color-base);
                font-weight: bold;
                width: 1.3rem;
                display: inline-flex;
                justify-content: center;
                align-content: center;
            }
        }
    }
}
