.top-header {
    ul {
        li {
            a {
                color: #ffffff;
                display: block;
                padding: .65rem .85rem;
                @extend %transition-section-item-fast;

                &:hover {
                    background: #ffffff;
                    color: var(--color-base);
                }
            }
        }
    }
}

.main-header {
    background: #ffffff;
    @extend .shadow-xs;
    position: sticky;
    top: 0;
    z-index: 99999;

    nav {
        display: flex;
        justify-content: space-between;
        padding: 0;

        .navbar-brand {
            font-weight: bold;
            font-size: 2rem;
            margin-right: 0;
            padding: 0;
            @include gradient-text(45deg, var(--color-base), var(--color-variant));
        }
    }

    #main-header__menu {
        @extend %transition-section-item;
        @include Responsive(LG) {
            position: fixed;
            top: 48px;
            left: 0;
            width: 100%;
            height: calc(100% - 48px);
            background: rgba(0, 0, 0, 0.2);
            opacity: 0;
            @include TransformTranslate(-100%, 0);
            &.show {
                opacity: 1;
                @include TransformTranslate(0, 0);
            }
        }

        .close-menu-btn {
            position: absolute;
            right: 0;
        }

        ul.navbar-nav {
            display: flex;
            align-items: center;
            @include Responsive(LG) {
                background: white;
                width: 80%;
                height: 100%;
                overflow-y: auto;
            }

            .nav-item {
                @include Responsive(LG) {
                    width: 100%;
                }

                &.dropdown {
                    .nav-link {
                        @include Responsive(LG) {
                            display: flex;
                            justify-content: space-between;

                            .fa {
                                font-weight: bold;
                                font-size: 16px;
                                display: flex;
                                justify-content: center;
                                align-content: center;
                            }
                        }
                    }
                }

                &.home {
                    .nav-link {
                        font-size: 1.4rem;
                        padding: .7rem 1.8rem;
                    }
                }

                .nav-link {
                    color: var(--color-base);
                    font-size: .9rem;
                    padding: .65rem 1.3rem;
                    font-weight: bold;
                    text-transform: uppercase;
                    @extend %transition-section-item-fast;
                    @include ResponsiveMin(LG) {
                        @include Rounded(20px);
                    }
                }

                .dropdown-menu {
                    @include Rounded(0px);
                    @extend .shadow-xs;
                    margin: 0;
                    padding: 0;
                    @include ResponsiveMin(LG) {
                        padding: .25rem;
                        @include Rounded(8px);
                    }
                    @include Responsive(LG) {
                        position: relative;
                        top: 0;
                        -webkit-box-shadow: none;
                        -moz-box-shadow: none;
                        box-shadow: none;
                        border: none;
                    }

                    &--wide {
                        width: 60vw;
                        left: 50%;
                        transform: translateX(-50%);
                        flex-wrap: wrap;

                        .menu-item {
                            width: calc(100% / 4);

                            @include Responsive(MD) {
                                width: calc(100% / 2);

                                .nav-link {
                                    font-size: 13px !important;
                                    padding: .5rem .85rem !important;
                                }
                            }
                        }

                        &.show {
                            display: flex;
                        }
                    }

                    .menu-item {
                        .nav-link {
                            color: var(--color-variant-3);
                            background: #ffffff;
                            padding: .35rem 1.35rem;
                            font-size: .9rem;

                            @include ResponsiveMin(LG) {
                                @include Rounded(8px);
                                margin-bottom: .25rem;

                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }

                            @include Responsive(LG) {
                                padding-left: 3rem;
                            }

                            &:hover {
                                background: var(--color-base);
                                color: white;
                            }
                        }
                    }
                }

                &:hover {
                    .nav-link {
                        background: var(--color-base);
                        color: white;
                    }

                    & > .dropdown-menu {
                        @include ResponsiveMin(LG) {
                            display: block;
                        }
                    }

                    & > .dropdown-menu--wide {
                        @include ResponsiveMin(LG) {
                            display: flex;
                        }
                    }
                }
            }
        }
    }
}
