body {
    background: #ebebeb;
}

.pagination {
    margin-bottom: 0;

    .page-item {
        .page-link {
            //border-color: var(--color-base);
            color: var(--color-base);
        }

        &.active {
            .page-link {
                background: var(--color-base) !important;
                border-color: var(--color-base) !important;
                color: white !important;
            }
        }
    }
}

.host-marker {
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
    position: relative;
    border: 2px solid var(--color-base);

    &__name {
        position: absolute;
        width: max-content;
        color: var(--color-base);
        background: rgba(255, 255, 255, 0.75);
        left: 50%;
        top: 95%;
        transform: translateX(-50%);
        padding: .1rem .25rem;
        font-weight: bold;
        border-radius: 6px;
        opacity: .85;
    }
}
