@import "~flatpickr/dist/flatpickr.min.css";

.form-group {

    &--present {
        input, select, textarea {
            border-bottom: none;
        }
    }

    label {
        font-weight: 700;
        margin-bottom: 0;
        padding-top: .25rem;
    }

    &--edit {
        position: relative;

        &__edit-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 50%;
            right: 0;
            @include TransformTranslate(0, -50%);
            width: 1.8rem;
            height: 1.8rem;
            @include Rounded(50%);
            @extend %transition-section-item-fast;
            background: var(--color-base);

            .fa {
                display: block;
                width: .8em;
                height: .8em;
                font-size: 1rem;
                line-height: .8em;
                color: #ffffff;
            }

            &:hover {
                background: var(--color-variant);
            }
        }
    }

    &--landscape {
        display: flex;
        align-items: flex-start;

        label {
            display: flex;
            flex: 1 1 40%;
        }
    }

    &--unit {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0.3rem;
            line-height: 1.25rem;
        }

        .form-control {
            padding-right: 2rem;
        }

        .form-control--wide {
            padding-right: 3.5rem;
        }

        &--electric {
            &::after {
                content: 'đ / kV';
            }
        }

        &--water {
            &::after {
                content: "đ / m3";
            }
        }

        &--meter {
            &::after {
                content: "m2";
            }
        }

        &--man {
            &::after {
                content: "\f007";
                font-family: FontAwesome, serif;
            }
        }

        &--price {
            &::after {
                content: "VNĐ";
            }
        }

        &--phone {
            &::after {
                content: "(+84)";
                right: auto;
                left: 0;
            }

            .form-control {
                padding-left: 3rem;
                padding-right: 0;
            }
        }

        &--date {
            &::after {
                content: '\f073';
                font-family: FontAwesome, serif;
                right: auto;
                left: 0;
            }

            .form-control {
                padding-left: 1.5rem;
                padding-right: 0;
            }
        }
    }
}

.trovie-input {
    border-width: 0 0 1px 0;
    height: auto;
    line-height: 1.25rem;
    padding: .25rem 0;
    @include Rounded(0);

    &[readonly] {
        background-color: transparent;
    }

    &:hover, &:focus {
        outline: none;
        box-shadow: none;
    }

    &[type=radio] {
        z-index: 99;
        width: 100%;
        height: 100%;
    }
}

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: var(--color-base);
    background-color: var(--color-base);
}

.custom {
    &-switch {
        &:hover, label {
            cursor: pointer !important;
        }

        .custom-control-label::after {
            background-color: var(--color-base);
        }
    }

    &-checkbox {
        margin-top: .5rem;

        .custom-control-label {
            font-weight: 500;
            line-height: 1.25em;

            &::before {
                @include Rounded(0);
            }
        }
    }
}

.trovie-fieldset {
    border: 1px solid var(--color-base);
    @include Rounded(4px);

    legend {
        font-size: 1rem;
        width: max-content;
        margin-left: .5rem;
        font-weight: bold;
    }
}
