.invoice-entries {

    &__table {
        border: 1px solid var(--color-base);
        position: relative;
        max-height: 160px;
        overflow-y: auto;
    }

    fieldset {
        border: 1px solid var(--color-base);
        @include Rounded(4px);

        legend {
            font-size: 1rem;
            width: max-content;
            margin-left: .5rem;
        }
    }
}
